.header{
	height:90px;
	display:block;
	overflow:hidden;
	}
.grayBack{
	display:none;
	}
@media only screen and (min-width: 768px) { 
.header{
	height:150px;
	}
.fixedArea{
	position:fixed;
	width:100%;
	z-index:5;
	background-color:#f3f1f4;
	box-shadow:0 3px 5px rgba(0,0,0,.1);
	}
.fixedHeight{
	height:200px;
	}
.whiteBack-p p.coloumb-2{
	width:32vw;
	float:left;
	}
	.whiteBack-p.fix{
	padding:0;
	}
.whiteBack-p p.coloumb-2:nth-child(2){
	margin-left:80px;
	margin-bottom:0;
	}
.imgContainer{
	width:50%;
	height:40vw;
	overflow:auto;
	display:block;
	float:left;
	background-color:#f3f1f4;
}
.imgContainer::-webkit-scrollbar {
	height:0;
	}
.imgContainer.img{						/*1-2 for img overflow hidden*/
	overflow:hidden;
	}
.imgContainer.img:nth-child(4n-1){		/*second img float right*/
	float:right;
	}
.grayBack{								/*second img in gray area*/
	display:block;
	background-color:#a3a3a3;
	height:50% !important;
	box-sizing:border-box;
	padding:0 3vw;
	}
.table{									/*1-2 text vertical align > table class*/
	display:table;
	height:100%;
	}
.grayBack p.italic{						/*gray area in p.italic color*/
	color:#000;
	display:table-cell;
	vertical-align:middle;
	}
.blackBack-p.table{
	background-color:#f3f1f4;
	}
.blackBack-p.table span{				/*this text found second img in gray area*/
	display:none;
	}
.imgContainer .fullwidthImg{
	width:auto;
	height:100%;
	}
.whiteBack-p.table,.blackBack-p.table{	/*1-2 text padding 0*/
	padding:0;
	}
.imgContainer p{						/*1-2 text vertical align*/
	display:table-cell;
	vertical-align:middle;
	padding:5px 3vw;
	color:#89828a;
	}
.overflow{
	overflow:hidden;
	}	
img.fullwidthImg.marginUp{
	width:100%;
	margin-top:-120px;
	}
}
@media only screen and (min-width: 1366px) { 
.imgContainer p{						/*1-2 text vertical align*/
	padding:5px 150px;
	color:#89828a;
	}
.whiteBack-p p.coloumb-2{
	width:340px;
	}
.grayBack p.italic{						/*gray area in p.italic color*/
	color:#000;
	display:table-cell;
	vertical-align:middle;
	padding:0 140px;
	}
}