.header{
	height:90px;
	display:block;
	overflow:hidden;
	}

@media only screen and (min-width: 768px) { 
.header{
	height:150px;
	}
body{
  height: auto !important; 
}
.paddingLeftRight{
	box-sizing:border-box;
	width:100%;
	padding:0 10vw;
	}
.whiteBack-p p.coloumb-2{
	width:32vw;
	float:left;
	margin-bottom:-20px;
	}
.whiteBack-p p.coloumb-2:nth-child(2){
	margin-left:80px;
	margin-bottom:0;
	}
.imgContainer.first{
	width:70%;
	float:right;
	}
.imgContainer.second{
	width:70%;
	float:left;
	margin-top:-15px;
	}
.depth{
	position:relative;
	}
.depth .grayBack-p{
	width:30%;
	height:70%;
	position:absolute;
	bottom:0;
	overflow:hidden;
	}
.depth .grayBack-p.three{
	width:25vw;
	height:65%;
	position:absolute;
	bottom:0;
	}
.depth.three{
	margin-top:-15px;
	}
.grayBack-p.rightP{
	width:25vw;
	height:75%;
	position:absolute;
	bottom:0;
	right:0;
	}
.grayBack-p.marginCenter{
	box-sizing:border-box;
	margin:0 10vh;
	margin-top:-15px;
	z-index:10;
	}
.marginCenter{position:relative;}
.marginCenter:after{
	content:"";
	width:100%;
	height:15px;
	top:0;
	left:0;
	background-color:#d7d7d7;
	position:absolute;
}
.table{
	height:100%;
	}
.vMiddle{
	position:relative;
	display:table-cell;
	vertical-align:middle;
}
p.italic{
	font:14px/17px muliLightItalic, sans-serif;
	}
h2{ /*for header in p*/
	font:25px/30px muliLight, sans-serif;
	}

}
@media only screen and (min-width: 1366px) { 
.imgContainer.first{
	width:75%;
	float:right;
	}
.imgContainer.second{
	width:75%;
	float:left;
	margin-top:-15px;
	}
.depth .grayBack-p,.depth .grayBack-p.three{
	width:30%;
	height:60%;
	padding:25px;
	box-sizing:border-box;
	}
.grayBack-p.marginCenter{
	box-sizing:border-box;
	margin:0 10%;
	margin-top:-15px;
	z-index:10;
	}
.whiteBack-p p.coloumb-2{
	width:340px;
	}
p.italic{
	font:16px/20px muliLightItalic, sans-serif;
	}
h2{ /*for header in p*/
	font:33px/40px muliLight, sans-serif;
	}


}