.header{
	height:90px;
	display:block;
	overflow:hidden;
	}
.outline{
	border:3px solid #555555;
	width:100%;
	box-sizing:border-box;
	background:white;
	}
#message{
	width:100%;
	height:100px;
	outline:none;
	resize:none;
	border:none;
	position:relative;
	box-sizing:border-box;
	padding:5px;
	font:15px/20px muliLight, sans-serif;
	}
#message::-webkit-input-placeholder{
    color:#4e4e4e;
	font:20px/24px muliLight, sans-serif;
}
.inputbox{
	width:100%;
	outline:none;
	resize:none;
	border:none;
	border-top: 3px solid #aaa;
	position:relative;
	box-sizing:border-box;
	padding:5px;
	font:15px/20px muliLight, sans-serif;
	}
.inputbox::-webkit-input-placeholder{
	color:#4e4e4e;
	font:20px/24px muliLight, sans-serif;
	}

input[name=hAlacText]{
	width:100%;
	height:30px;
	outline:none;
	resize:none;
	position:relative;
	box-sizing:border-box;
	padding:5px;
	font:20px/20px muliLight, sans-serif;
	background:white;
	outline:none;
	border:none;
	}
input[type=submit]{
	margin:0 auto;
	display:block;
	padding:8px 90px;
	outline:none;
	border:3px solid #555555;
	background:white;
	cursor:pointer;
	margin-top:5px;
	}
.whiteBack-p.center>h2{
	text-align:center;
	}
@media only screen and (min-width: 768px) { 
.header{
	height:150px;
	}
p.center{
	width:85%;
	margin-top:35px;
	}
.whiteBack-p {
	padding:0;
	}
.pLeft{
	width:50%;
	box-sizing:border-box;
	float:left;
	background-color:#f3f1f4;
	}
.pLeft:nth-child(2){
	padding:20px;
	}
.coloumbArea{
	position:relative;
	width:100%;
	background-color:#f3f1f4;
	display:table;
	}
.whiteBack-p.center>h2{
	text-align:left;
	padding:30px 0;
	}
.whiteBack-p.center{
	padding: 10px 30px;
	display:table
	}
.googleMapIncude{
	padding:15px 20px 0 20px;
	background-color:#f3f1f4;
	}
}