/*ALAC animation and areas*/
.alacArea{
	width:100%;
	position:relative;
	display:block;
	box-sizing:border-box;
	height: calc(100vh - 78px); /*78px = header height + 3 padding*/
	padding-top:28vh;
	}
.alacText{
	font:60px nexaBold, sans-serif;
	color:#CCC;
	text-align:center;
	letter-spacing:5px;
	-webkit-backface-visibility: hidden;
	opacity:0;
	}
.alacLine{
	width:10px;
	max-width:300px;
	background-color:rgba(255,0,0,.7);
	height:3px;
	opacity:0;
	margin:0 auto;
	position:relative;
	display:table;
	}
.wrapper.blackArea{
	background-color:#000;
}
.leadersText{
	font:22px muliLight, sans-serif;
	color:#a2a2a2;
	font-variant: small-caps;
	text-align:center;
	letter-spacing:1px;
	-webkit-backface-visibility: hidden;
	}
.leadersText span{opacity:0}
/*--------------*/
.downArrow{
	display:none;
	}
/*Categories*/
.categories{
	width:100%;
	height:25vh;
	display:block;
	position:relative;
	overflow:hidden;
	}
.categories img{
	min-width:445px;
	width:100%;
	margin-top:-90px;
	}
.categories .grayAlpha{
	top:0; left:0;
	width:100%;
	height:100%;
	background-color:rgba(162,162,162,.60);
	position:absolute;
	font:45px/25vh muliLight, sans-serif;
	font-variant: small-caps;
	padding:10px;
	box-sizing:border-box;
	}
.grayAlpha a{display:block;}

@media only screen and (min-width: 768px) {
.alacText{
	font:75px nexaBold, sans-serif;
	letter-spacing:15px;
	}
.leadersText{
	font:38px muliLight, sans-serif;
	letter-spacing:4px;
	font-variant: small-caps;
	}
.alacArea{
	padding-top:20vh;
	height: calc(100vh - 144px); /*144px = header height + 3 padding*/
	border-bottom-color:transparent;
	}
.alacLine{
	max-width:none;
	}
.downArrow{
	width:110px;
	position:absolute;
	display:block;
	bottom:15px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	}
.downArrow img{
	width:50%;
	margin-top:-7px;
	display:block;
	opacity:0;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	}
.grayAlpha a{
	display:block;
	width:100%;
	height:100%;
	}
/*Categories*/
.categories{
	float:left;
	height:100vh;
	box-sizing:border-box;
	}
.categories.c1{ 					/*about child*/
	width:calc(100% / 2);
	background-color:#000;
	}
.aboutArea{
	display:table;
	width:100%;
	height:100%;
}
.categories.c2, .categories.c3{ 	/*project and capabilities child*/
	width:calc(100% / 4);
	height:80vh;
	}
.categories.c4{ 					/*contact child*/
	width:calc(100% / 2);
	height:20vh;
	}
.categories img{
	width:auto;
	margin-top:0;
	height:100vh;
	opacity:0; /*for animations*/
	}
.categories img[alt=about]{
	display:table-cell;
	width:70%;
	vertical-align:middle;
	position:relative;
	margin:0 auto;
	z-index:0;
	}
.categories img[alt=projects]{
	margin-left:-110px;
	}
.categories img[alt=capabilities]{
	width:100%;
	margin-top:-70px
	}
.categories img[alt=contact]{
	height:auto;
	width:200%;
	margin-top:-260px;
	margin-left:-350px;
	}
.categories .grayAlpha{
	font:45px muliLight, sans-serif;
	font-variant: small-caps;
	transition:background-color .15s ease-out;
	background-color:transparent;
	}
.gTitle1{ /*about text*/
	font-size:230%;
	bottom:10px;
	color:rgba(255,255,255,.8);
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8) !important;
	position:absolute;
	}
.gTitle2{ /*projects text*/
	font-size:130%;
	position:absolute;
	top:0;
	right:10px;

	}
.gTitle3{ /*capabilities text*/
	font-size:100%;
	position:absolute;
	bottom:0;
	left:5px;
	}
.gTitle4{ /*contact text*/
	font-size:180%;
	position:absolute;
	margin:auto;
	left: 0;
	right: 0;
	text-align:center;
	}
.gTitle1, .gTitle2, .gTitle3, .gTitle4{
	text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
	opacity:0 /*for animations*/
	}
.gTitle3{
	text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
	}
/*variables for box animations*/
.hLine{
	position:absolute;
	width:3px;
	background:rgba(255,0,0,.7);
	height:0;
	right:0;
	z-index:5
	}
.vLine{
	position:absolute;
	width:0;
	background:rgba(255,0,0,.7);
	height:3px;
	top:0;
	left:0;
	z-index:5
	}

}
@media only screen and (min-width: 1366px) {
.alacText{
	font:75px nexaBold, sans-serif;
	letter-spacing:15px;
	}
.leadersText{
	font:38px muliLight, sans-serif;
	letter-spacing:4px;
	font-variant: small-caps;
	}
.alacArea{
	padding-top:12vh;
	height: calc(100vh - 214px); /*144px = header height + 3 padding*/
	}
.alacText{
	font:85px nexaBold, sans-serif;
	letter-spacing:15px;
	}
.leadersText{
	font:40px muliLight, sans-serif;
	letter-spacing:5px;
	}
.logo img{
	margin:20px ;
	height:170px;
	}
}