@font-face {
    font-family: 'nexaBold';
    src: url('fonts/nexa_bold-webfont.eot');
    src: url('fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('fonts/nexa_bold-webfont.woff') format('woff'),
         url('fonts/nexa_bold-webfont.ttf') format('truetype'),
         url('fonts/nexa_bold-webfont.svg#nexaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexaLight';
    src: url('fonts/nexa_light-webfont.eot');
    src: url('fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_light-webfont.woff2') format('woff2'),
         url('fonts/nexa_light-webfont.woff') format('woff'),
         url('fonts/nexa_light-webfont.ttf') format('truetype'),
         url('fonts/nexa_light-webfont.svg#nexaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'muliLight';
    src: url('fonts/muli-light-webfont.eot');
    src: url('fonts/muli-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/muli-light-webfont.woff2') format('woff2'),
         url('fonts/muli-light-webfont.woff') format('woff'),
         url('fonts/muli-light-webfont.ttf') format('truetype'),
         url('fonts/muli-light-webfont.svg#muliLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'muliLightItalic';
    src: url('fonts/muli-lightitalic-webfont.eot');
    src: url('fonts/muli-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/muli-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/muli-lightitalic-webfont.woff') format('woff'),
         url('fonts/muli-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/muli-lightitalic-webfont.svg#muliLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*****Content for Mobile****/
.content{ 
	margin:0 auto;
	position:relative;
	width:100%;
	}
.header{
	width:100%;
	position:relative;
	display:block;
	}
.header img[alt=headerBack]{
	width:100%;
	position:absolute;
	display:block;
	bottom:0;
	z-index:-5;
	min-width:400px
	}
.blackAlpha{ /*Header in img black Alpha*/
	width:100%;
	height:100%;
	position:absolute;
	display:block;
	top:0;
	z-index:-4;
	background:rgba(0,0,0,.5);
	}
.logo img{
	margin:12px ;
	height:50px;
	}
.fullwidthImg{
	width:100%;
	display:block;
	}
/*Menu Icon*/
.menuIcon{
	width:30px;
	height:25px;
	right:25px;
	top:25px;
	position:fixed;
	z-index:15;
	}
.menuIcon .line{
	width:100%;
	height:4px;
	background:#bcbcbc;
	border-radius:2px;
	position:relative;
	margin-top:6px;
	}
.topMenu{
	width:100vw;
	height:100vh;
	box-sizing:border-box;
	background-color:rgba(0,0,0,.85);
	position:fixed;
	z-index:12;
	overflow:auto;
	display:none;
	}
.topMenu::-webkit-scrollbar{
	width: 0;
	}	
.center{
	margin:0 auto;
	position:relative;
	display:table;
	}
.topMenu h2{
	font:30px muliLight, sans-serif;
	color:#FFF;
	display:table;
	margin:0 auto;
	margin-top:5vh;
	border-bottom:1px solid #FFF;
	letter-spacing:2px;
	text-shadow:-3px 2px 5px rgba(0,0,0,.8);
	position:relative;
	}
.topMenu h2:after{
	content:" ";
	width:100%;
	left:0;
	bottom:-1px;
	height:1px;
	box-shadow:-3px 2px 5px rgba(0,0,0,.8);
	position:absolute;
	}
.topMenu h3{
	font:18px/25px muliLight, sans-serif;
	color:#FFF;
	display:block;
	text-shadow:-3px 2px 5px rgba(0,0,0,.8);
	text-align:center;
	}
/*Text Styles*/
h1{ /*for header white text*/
	font:25px/70px muliLight, sans-serif;
	color:#FFF;
	font-variant: small-caps;
	letter-spacing:1px;
	display:block;
	position:absolute;
	left:0;
    right:0;
	text-align:center;
	z-index:-1;
	}
h2{ /*for header in p*/
	font:33px/40px muliLight, sans-serif;
	}

p{
	font:16px/20px muliLight, sans-serif;
	}
p.italic{
	font:16px/20px muliLightItalic, sans-serif;
	}
/*--------------------*/
.grayBack-p{
	background-color:#d7d7d7;
	padding:20px;
	}
.whiteBack-p{
	background-color:#FFFFFF;
	padding:20px;
	}
.blackBack-p{
	background-color:#000000;
	padding:20px;
	color:white;
	}
.underline{ /*for h2 customized line*/
	width:110px;
	height:2px;
	background:#000;
	margin:10px 0 20px 0;
	}
	
/*text color styles*/
.white{color:#FFF;}
@media only screen and (min-width: 768px) {
.logo img{
	margin:20px ;
	height:100px;
	}
.topMenu{
	width:100vw;
	height:100vh;
	box-sizing:border-box;
	position:fixed;
	z-index:12;
	overflow:auto;
	display:none;
	}
.topMenu::-webkit-scrollbar{
	width: 0;
	}	
.center{
	margin:0 auto;
	position:relative;
	display:table;
	}
.topMenu h2{
	font:35px muliLight, sans-serif;
	color:#FFF;
	display:table;
	margin:0 auto;
	margin-top:7vh;
	border-bottom:1px solid #FFF;
	letter-spacing:2px;
	text-shadow:-3px 2px 5px rgba(0,0,0,.8);
	position:relative;
	}
.topMenu h2:after{
	content:" ";
	width:100%;
	left:0;
	bottom:-1px;
	height:1px;
	box-shadow:-3px 2px 5px rgba(0,0,0,.8);
	position:absolute;
	}
.topMenu h3{
	font:20px/35px muliLight, sans-serif;
	color:#FFF;
	display:block;
	float:left;
	margin-left:30px;
	text-shadow:-3px 2px 5px rgba(0,0,0,.8);
	}
h3.noMargin{
	margin-left:0
	}
h1{ /*for header white text*/
	font:65px/130px muliLight, sans-serif;
	color:#FFF;
	letter-spacing:1px;
	display:block;
	position:absolute;
	left:0;
    right:0;
	text-align:center;
	z-index:-1;
	}
.whiteBack-p{
	background-color:#f3f1f4;
	}
.table{									/*1-2 text vertical align > table class*/
	display:table;
	}
.categories .grayAlpha{
	transition:background-color .15s ease-out;
	}
.categories .grayAlpha:hover{
	background-color:rgba(162,162,162,.15) !important;
	}
html{
	background-color:#f3f1f4;
	}
.wrapper{
	width:100%;
	overflow:hidden;
	}
}
@media only screen and (min-width: 1366px) { 
.content{
	max-width:1366px;
	}

.menuIcon{
	right: calc((100vw - 1366px) /2);
	}
}