.header{
	height:90px;
	display:block;
	overflow:hidden;
	}
.projectsArea{
	width:100%;
	position:relative;
	display:block;
	box-sizing:border-box;
	height: calc(100vh - 90px); /*90px = header height*/
	overflow:auto;
	}
	
small{
	opacity: 0.8;
}

/*ul projects*/
ul.projects, ul.projects ol{		/*ul ol common contents*/
	position:relative;
	display:block;
	float:right;
	}
ul.projects{ 						/*main content for ul*/
	clear:both;
	margin-right:25px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}
ul.projects ol{		/*child content for ul*/
	clear:both;
	margin-top:10px;
	}
ul.projects li ol li{				/*pCommon*/
	float:right;
	display:block;
	}
ul.projects ol li:nth-child(1){ 	/*pIcon*/
	font:50px/15px san-serif;
	margin-top:8px;
	color:#c5c2c2;
	}
ul.projects ol li:nth-child(2){ 	/*pYear*/
	font:21px muliLight;
	margin-right:10px;
	}
ul.projects ol li:nth-child(3){ 	/*pName*/
	font:15px nexaLight;
	margin-top:7px;
	margin-right:10px;
	}
ol li.active{					/*active ol li color*/
	color:#000 !important;
	}
ul.projects a{ float:right;}
/*ul li clearfix*/	
ul.projects>li:before,
ul.projects>li:after {
    content: " ";
    display: table; 
}
ul.projects>li:after {
    clear: both;
}
ul.projects>li {
    *zoom: 1;
}
/*----------------*/
.vLine{ /*Vertical Line in projectsArea div*/
	width:3px;
	background:#000;
	height:100%;
	position:absolute;
	right:32px;
	}

/*Project Source*/
.projectSource, .project, .blackContainer{
	display:block;
	width:100%;
	position:relative;
	}
.projectSource{
	overflow:hidden;
	}
.blackContainer{ 	/*black alpha for first img*/
	background:rgba(0,0,0,.65);
	height:100%;
	position:relative;
	top:0;
	overflow:auto;
	}
.blackImg{ 			/*first img z-index -1*/
	position:relative;
	width:100%;
	z-index:-1;
	}
.pAreas{ 			/*text and layers on img*/
	width:100%;
	box-sizing:border-box;
	padding:20px;
	}
.pAreas h2{
	font-size:22px;
	}
.pAreas p{
	font-size:13px;
	line-height:18px;
	}
.blackContainer .underline{
	background:rgba(255,255,255,.8);
	margin:2px 0 10px 0;
	}
.nextProjectButton{
	width:100%;
	position:relative;
	font: 15px/30px muliLight, sans-serif;
	background:#c5c2c2;
	text-align:center;
	z-index:2;
	float:right;
	}
.blackContainer{ 	/*black alpha for first img*/
	background:rgba(0,0,0,.65);
	height:auto;
	position:relative;
	overflow:hidden;
	}
.fullwidthImg.blackImg{
	position: absolute;
    top: 0;
    margin-top: 150px;
    transform: translateY(-60%);
    z-index:-1;
	}
/*--------------*/

@media only screen and (min-width: 768px) { 
.header{
	height:150px;
	}
.projectsArea{
	width:45%;
	float:left;
	box-sizing:border-box;
	}
.projectSource{
	width:55%;
	float:left;
	box-sizing:border-box;
	}
.projectsArea{
	height: calc(100vh - 150px); /*150px = header height*/
	}
.projectSource{
	height: calc(100vh - 180px); /*150px = header+button height*/
	overflow:auto;
	}
.projectSource::-webkit-scrollbar{
	background-color:#000;
	width:8px;
	height:8px;
	}	
.projectSource::-webkit-scrollbar-thumb{
	background-color:#c5c2c2;
	border-radius:10px;
} 
.nextProjectButton{
	width:55%;
	}
ul.projects ol li:nth-child(1){ 	/*pIcon*/
	font:80px/25px san-serif;
	margin-top:8px;
	color:#c5c2c2;
	margin-right:-5px;
	}
ul.projects ol li:nth-child(2){ 	/*pYear*/
	font:24px muliLight;
	margin-right:10px;
	}
ul.projects ol li:nth-child(3){ 	/*pName*/
	font:17px nexaLight;
	margin-top:10px;
	margin-right:10px;
	}
ul.projects ol{		/*child content for ul*/
	clear:both;
	margin-top:22px;
	}
.pAreas h2{
	font-size:30px;
	}
.pAreas p{
	font-size:18px;
	line-height:25px;
	}
.blackContainer .underline{
	background:rgba(255,255,255,.8);
	margin:5px 0 15px 0;
	}
.blackContainer{ 	/*black alpha for first img*/
	background:rgba(0,0,0,.65);
	height:auto;
	position:relative;
	overflow:hidden;
	}
}
@media only screen and (min-width: 1366px) { 
.projectsArea{
	width:35%;
	float:left;
	box-sizing:border-box;
	}
.projectSource{
	width:65%;
	float:left;
	box-sizing:border-box;
	}
.nextProjectButton{
	width:65%;
	}
ul.projects ol li:nth-child(1){ 	/*pIcon*/
	font:80px/25px san-serif;
	margin-top:8px;
	color:#c5c2c2;
	margin-right:-5px;
	}
ul.projects ol li:nth-child(2){ 	/*pYear*/
	font:32px muliLight;
	margin-right:10px;
	margin-top:-1px;
	}
ul.projects ol li:nth-child(3){ 	/*pName*/
	font:25px nexaLight;
	margin-top:10px;
	margin-right:10px;
	}
}